.mikto-table-modal {
  background-color: #afaeae;
  color: white;
}

.mikto-table-modal-title {
  border-bottom: 3px solid black;
  padding: 3px;
}

.mikto-table-modal-body {
  padding: 8px;
}

.mikto-table-modal-line {
  min-height: 25px;
}

.mikto-table-modal-line-title {
  margin-left: 8px;
}
