.mikto-table {
  border-collapse: collapse;
  overflow-x: scroll;
  width: 100%;
}

.mikto-table > thead {
  border-bottom: 2px solid black;
  background-color: #fff;
  position: sticky;
  top: 0;
}

.mikto-table thead th {
  display: grid;
  grid-template-columns: 1fr 20px;
  position: sticky;
  top: 0;
  padding-left: 5px;
  z-index: 1;
  border-right: 2px solid rbg(70, 69, 69);
}

.mikto-table tbody {
  overflow-y: auto;
  width: 100%;
}

.mikto-table tr {
  line-height: 25px;
}

.mikto-table td {
  padding: 4px;
}

/* .mikto-table-row:nth-child(odd) {
  background-color: #aaa;
}

.mikto-table-row:nth-child(even) {
  background-color: #fff;
} */

.mikto-grid-chevron {
  cursor: pointer;
}

.mikto-grid-chevron.down::before {
  border-style: solid;
  border-width: 0.25em 0.25em 0 0;
  content: "";
  display: inline-block;
  height: 0.45em;
  left: 0.25em;
  position: relative;
  top: 0.15em;
  transform: rotate(135deg);
  vertical-align: top;
  width: 0.45em;
}

.mikto-table-drag-over {
  border-right: 5px solid limegreen;
  background-color: limegreen;
}

.mikto-table-row-light:nth-child(even) {
  background-color: #fff;
}

.mikto-table-row-light:nth-child(odd) {
  background-color: #aaa;
}

.mikto-table-row-dark:nth-child(even) {
  background-color: #000;
}

.mikto-table-row-dark:nth-child(even) {
  background-color: #aaa;
}
