@mixin transform {
  transform: translateX(0%);
}

@keyframes #{$rt-namespace}__inFromRight {
  0% {
    transform: translateX(110%);
  }
  95% {
    transform: translateX(-20%);
  }
  100% {
    @include transform;
  }
}

@-webkit-keyframes #{$rt-namespace}__inFromRight {
  0% {
    transform: translateX(110%);
  }
  95% {
    transform: translateX(-20%);
  }
  100% {
    @include transform;
  }
}

@keyframes #{$rt-namespace}__outToRight {
  0% {
    @include transform;
  }
  10% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(1000%);
  }
}

@-webkit-keyframes #{$rt-namespace}__outToRight {
  0% {
    @include transform;
  }
  10% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(1000%);
  }
}

@keyframes #{$rt-namespace}__inFromLeft {
  0% {
    transform: translateX(-110%);
  }

  95% {
    transform: translateX(5%);
  }

  100% {
    @include transform();
  }
}

@-webkit-keyframes #{$rt-namespace}__inFromLeft {
  0% {
    transform: translateX(-110%);
  }

  95% {
    transform: translateX(5%);
  }

  100% {
    @include transform();
  }
}

@keyframes #{$rt-namespace}__outToLeft {
  0% {
    @include transform;
  }

  10% {
    transform: translateX(10%);
  }

  100% {
    transform: translateX(-100%);
  }
}

@-webkit-keyframes #{$rt-namespace}__outToLeft {
  0% {
    @include transform;
  }

  10% {
    transform: translateX(10%);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes #{$rt-namespace}__inFromTop {
  0% {
    transform: translateY(-110%) translateX(-50%);
  }

  100% {
    transform: translateY(0%) translateX(-50%);
  }
}

@-webkit-keyframes #{$rt-namespace}__inFromTop {
  0% {
    transform: translateY(-110%) translateX(-50%);
  }

  100% {
    transform: translateY(0%) translateX(-50%);
  }
}

@keyframes #{$rt-namespace}__outToTop {
  0% {
    transform: translateY(0%) translateX(-50%);
  }

  10% {
    transform: translateY(10%) translateX(-50%);
  }

  100% {
    transform: translateY(-110%) translateX(-50%);
  }
}

@-webkit-keyframes #{$rt-namespace}__outToTop {
  0% {
    transform: translateY(0%) translateX(-50%);
  }

  10% {
    transform: translateY(10%) translateX(-50%);
  }

  100% {
    transform: translateY(-110%) translateX(-50%);
  }
}

@keyframes #{$rt-namespace}__inFromBottom {
  0% {
    transform: translateY(110%) translateY(-50%);
  }

  95% {
    transform: translateY(-10%) translateX(-50%);
  }

  100% {
    transform: translateY(0%) translateX(-50%);
  }
}

@-webkit-keyframes #{$rt-namespace}__inFromBottom {
  0% {
    transform: translateY(110%) translateY(-50%);
  }

  95% {
    transform: translateY(-10%) translateX(-50%);
  }

  100% {
    transform: translateY(0%) translateX(-50%);
  }
}

@keyframes #{$rt-namespace}__outToBottom {
  0% {
    transform: translateY(0%) translateX(-50%);
  }

  10% {
    transform: translateY(-10%) translateX(-50%);
  }

  100% {
    transform: translateY(110%) translateX(-50%);
  }
}

.#{$rt-namespace}__slide-enter {
  &--top-right,
  &--bottom-right {
    animation-name: #{$rt-namespace}__inFromRight;
    -webkit-animation-name: #{$rt-namespace}__inFromRight;
  }
  &--top-left,
  &--bottom-left {
    animation-name: #{$rt-namespace}__inFromLeft;
  }
  &--top-center {
    animation-name: #{$rt-namespace}__inFromTop;
  }
  &--bottom-center {
    animation-name: #{$rt-namespace}__inFromBottom;
  }
}

.#{$rt-namespace}__slide-exit {
  &--top-right,
  &--bottom-right {
    animation: #{$rt-namespace}__outToRight;
  }
  &--top-left,
  &--bottom-left {
    animation-name: #{$rt-namespace}__outToLeft;
  }
  &--top-center {
    animation-name: #{$rt-namespace}__outToTop;
  }
  &--bottom-center {
    animation-name: #{$rt-namespace}__outToBottom;
  }
}
