@mixin transform {
  transform: translateX(0%);
}

@keyframes #{$rt-namespace}__inFromRight {
  0% {
    transform: translateX(110%);
  }
  95% {
    transform: translateX(-20%);
  }
  100% {
    @include transform;
  }
}

@-webkit-keyframes #{$rt-namespace}__inFromRight {
  0% {
    transform: translateX(110%);
  }
  95% {
    transform: translateX(-20%);
  }
  100% {
    @include transform;
  }
}

@keyframes #{$rt-namespace}__outToRight {
  0% {
    @include transform;
  }
  10% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(1000%);
  }
}

@-webkit-keyframes #{$rt-namespace}__outToRight {
  0% {
    @include transform;
  }
  10% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(1000%);
  }
}

.#{$rt-namespace}__slide-enter {
  &--top-right,
  &--bottom-right {
    animation-name: #{$rt-namespace}__inFromRight;
    -webkit-animation-name: #{$rt-namespace}__inFromRight;
  }
}

.#{$rt-namespace}__slide-exit {
  &--top-right,
  &--bottom-right {
    animation: #{$rt-namespace}__outToRight;
  }
}
